@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

.presentation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.centered-image {
  transform: scale(0.5);
}

