/* styles.css */
@import url('https://fonts.googleapis.com/css?family=Lato:400,500,600');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700');

.navbar {

    display: flex;
    justify-content: space-between;
    align-items: center; /* Vertically center items */
    padding: 10px;
    color: #fff;
    position: fixed; /* Fixed positioning */
    top: 0; /* Stick to the top of the viewport */
    width: 100%; /* Take up the full width of the viewport */
    z-index: 1000; /* Adjust z-index as needed */
    height: 6%;
}

.left-items {
    margin-top: 20px;
    margin-left: 50px;
    display: flex;
    align-items: center;
}

.imge {
position: relative;
width: 120px;
height: 66px;
}

.left-items div {
    width: 20%;
    height: 100%;
    margin-right: 20px;
    text-decoration: none;
    color: #fff;
    margin-left: 20px;
    font-weight: 400;
    padding-top: 15px;
    font-family: 'Lato', sans-serif;
    font-size: 14px; /* Set font size to 14px */
}

.right-item button {
    text-decoration: none;
    color: black;
    border-radius: 60px;
    background-color: #298466;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 25px;   
    font-family: 'Lato', sans-serif;
    margin-right: 50px;
    vertical-align: middle;
    font-size: 13px;
    letter-spacing: 0.8px;
    font-weight: 600;
    line-height: 130%;
    
}

.container {
    width: 100%; /* Set the container width to 1920 pixels */
    height: 1080px; /* Set the container height to 1080 pixels */
    background: linear-gradient(275deg,rgba(10,10,10,0) 0,rgba(10,10,10,.8) 70%);

}

img {
    width: 100%; /* Make the image fill the container horizontally */
    height: 100%; /* Make the image fill the container vertically */
    object-fit: cover; /* Cover the entire container with the image */

}

.nav-link {
    cursor: pointer;
    width: 20%;
    height: 100%;
    margin-right: 20px;
    text-decoration: none;
    color: #fff;
    margin-left: 20px;
    font-weight: 400;
    padding-top: 15px;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
  }
  .user-info {
    position: relative;
  }
  
  .display-name {
    margin-top: 50px;
    margin-right: 60px;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 500px;
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
  }
  
  .hover-box {
    position: absolute;
    height: 100px;
    width: 100px;
    margin-top: 10px;
    top: 100%; /* Position below the ".display-name" paragraph */
    right: 0px;
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: none;
    text-align: center;
    border-top: 2px solid #298466;
  }
  
  .user-info:hover .hover-box {
    display: block;
  }
  
 .user-info {
  position: relative;
}

.display-name {
  margin-top: 50px;
  margin-right: 60px;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 600px;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
  align-items: start;
}

.hover-box {
  position: absolute;
  height: auto;
  width: 100px;
  top: 100%; /* Position below the ".display-name" paragraph */
  right: 50px;
  background-color: #333;
  color: #fff;
  padding: 10px;
  padding-left: 25px;
  display: none;
  text-align: start;
  border-top: 2px solid #298466;
}

.right-item:hover .hover-box {
  display: block;
}

.sign-out-box
{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 600px;
    margin-bottom: 20px;
    cursor: pointer;
}