.mainpage-container {
    width: 100%;
    height: 100vh;
    background: url('../../../public/images/fundoSI.png');
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
  }
  
  .mainpage-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7) 100%);
    pointer-events: none;
  }

img {
    width: 100%; /* Make the image fill the container horizontally */
    height: 100%; /* Make the image fill the container vertically */
}

.gameplay {
  height: 55vh;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
}

.video-container {
  top: 0;
  flex: 1; /* This makes the child elements take up an equal amount of space */
  display: flex;
  justify-content: center;
  align-items: start;
}

.titulo-container {
  margin-top: 20vh;
  margin-bottom: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Josefin Sans', sans-serif; /* Apply the 'Josefin Sans' font */
  font-weight: 500; /* Use 'Medium' font weight */
  font-size: 18px; /* Set the font size to 14px */
  color: white;

}

.video-container video {
  max-width: 70%; /* Optional: Ensure videos fit within the containers */
  max-height: 70%; /* Optional: Ensure videos fit within the containers */
}

